<% if current_user %>

<section id="user_nav">
  Welcome <%= current_user.name %>!
  <%= link_to "Sign out", signout_path, id: "sign_out" %>
</section>

<section id="search-events">
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:keyword, "Keyword")%>
    <%= text_field(:search, :keyword, required: true) %>
    <%= label_tag(:users, "Friends")%>
    <%= text_field(:search, :users, required: true) %>
    <%= label_tag(:timeframe, "Timeframe:") %>
    <%= date_field(:timeframe, :start, required: true) %>
    <%= date_field(:timeframe, :end, required: true) %>
    <%= submit_tag("Search") %>
  <% end %>
</section>

<div>
  <% unless [current_user.city, current_user.state].all? %>
      <%= render partial: "form" %>
  <% end %>
</div>

<% else %>
  <%= link_to "Sign in with Google", "/auth/google", id: "sign_in" %>

<% end %>