<% if current_user %>
  <!--date box-->
  <section class="mainbox">
    <%= render 'flows/user' %>
    <div class="datebox">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:keyword, "Keywords")%>
        <%= text_field(:search, :keyword, { class: "form-control" }) %>
        <br>
        <div class="form-inline">
          <div class="form-group">
            <%= label_tag(:city, "City")%>
            <%= text_field(:search, :city,
                { required: true, class: "form-control", id: "city-field", style: "width: 100%"})%>
          </div>
          <div class="form-group">
            <%= label_tag(:state, "State")%>
            <%= select_tag "state",
                options_for_select(FlowsControllerHelper::STATES_LIST),
              { required: true, class: "form-control", id: "state-field", style: "width: 100%", name: "search[state]" } %>
          </div>
        </div>
        <br>
        <%= label_tag(:users, "Friends")%>
        <%= text_field(:search, :users, { id:"search_users-typeahead", class: "form-control" }) %>
        <br>
        <%= label_tag(:timeframe, "Time Frame") %>
        <%= date_field(:timeframe, :start, { required: true, class: "form-control" }) %>
        <%= date_field(:timeframe, :end, { required: true, class: "form-control" }) %>
        <%= button_tag "Search for Events", class: "btn btn-success signupbutton" %>
      <% end %>
    </div>
  </section>


<% else %>
  <!--blurb-->
  <div id="explanation">
    <div id='inner'>
      <p class="pitch">4 million events.</p>
      <p class="pitch">Hundreds of cities across the world.</p>
      <p class="pitch">Your friends and you.</p>
    </div>
  </div>
  <!--emailform-->
  <div id="emailform">
    <div id="inner">
      <%= render 'flash' %>
      <%= form_tag(new_url, :method => :get) do %>
        <%= button_tag "Sign up with Google", action: "new", controller: "users", class: "btn btn-success signupbutton" %>
        <%= button_to "Log in", "/auth/google?origin=login", class: "btn btn-info signupbutton" %>
      <% end %>
    </div>
    

    </div>
  </div>
<% end %>