<!DOCTYPE html>
<html>
<head>
  <title>Localflows</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_key']}&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!---background and logo-->
<div id="bg">
	<%= n = Random.rand(4) + 1 %>
  <img src="assets/image<%= n %>.jpg">
</div>
<a href="/"><img src="assets/logo.png" id="logo" /></a>

<%= yield %>

</body>
</html>
